<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pure.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="app-container">

        <div class="pure-g">
            <div class="pure-u-1">
                <h2>Usuarios</h2>
            </div>
            <div class="pure-u-1">
                <div class="collapse open" data-key="user">
                    <div class="api-def">
                        <h3>Retorna todos los usuarios</h3>
                        <div class="api-def__body">
                            <div class="api-url">
                                <span class="api-url__method">get</span>
                                <span class="api-url__const"><%= host %></span>
                                <span class="api-url__endpoint">/api/user</span>
                            </div>
                            <p>Acceso publico</p>
                            <div>
                                <button id="get-all-user">Consultar</button>

                            </div>
                            <textarea id="get-all-user-out"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="collapse close" data-key="user">
                    <div class="api-def">
                        <h3>Crear un usuario</h3>
                        <div class="api-def__body">
                            <div class="api-url">
                                <span class="api-url__method">post</span>
                                <span class="api-url__const"><%= host %></span>
                                <span class="api-url__endpoint">/api/user</span>
                            </div>
                            <p>Requiere autenticación</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="collapse close" data-key="user">
                    <div class="api-def">
                        <h3>Retorna un usuario segun su id</h3>
                        <div class="api-def__body">
                            <div class="api-url">
                                <span class="api-url__method">get</span>
                                <span class="api-url__const"><%= host %></span>
                                <span class="api-url__endpoint">/api/user/:id</span>
                            </div>
                            <p>Requiere autenticación</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="collapse close" data-key="user">
                    <div class="api-def">
                        <h3>Elimina un usuario segun su id</h3>
                        <div class="api-def__body">
                            <div class="api-url">
                                <span class="api-url__method">delete</span>
                                <span class="api-url__const"><%= host %></span>
                                <span class="api-url__endpoint">/api/user/:id</span>
                            </div>
                            <p>Requiere autenticación</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="collapse close" data-key="user">
                    <div class="api-def">
                        <h3>Actualiza un usuario segun su id</h3>
                        <div class="api-def__body">
                            <div class="api-url">
                                <span class="api-url__method">patch</span>
                                <span class="api-url__const"><%= host %></span>
                                <span class="api-url__endpoint">/api/user/:id</span>
                            </div>
                            <p>Requiere autenticación</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pure-g">
            <div class="pure-u-1">
                <h2>Post</h2>
            </div>
            <div class="pure-u-1">
                <div class="collapse open" data-key="post">
                    <div class="api-def">
                        <h3>Retorna todos los posts</h3>
                        <div class="api-def__body">
                            <div class="api-url">
                                <span class="api-url__method">get</span>
                                <span class="api-url__const"><%= host %></span>
                                <span class="api-url__endpoint">/api/post</span>
                            </div>
                            <p>Acceso publico</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="collapse close" data-key="post">
                    <div class="api-def">
                        <h3>Crear un post</h3>
                        <div class="api-def__body">
                            <div class="api-url">
                                <span class="api-url__method">post</span>
                                <span class="api-url__const"><%= host %></span>
                                <span class="api-url__endpoint">/api/post</span>
                            </div>
                            <p>Requiere autenticación</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="collapse close" data-key="post">
                    <div class="api-def">
                        <h3>Retorna un post segun su id</h3>
                        <div class="api-def__body">
                            <div class="api-url">
                                <span class="api-url__method">get</span>
                                <span class="api-url__const"><%= host %></span>
                                <span class="api-url__endpoint">/api/post/:id</span>
                            </div>
                            <p>Requiere autenticación</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="collapse close" data-key="post">
                    <div class="api-def">
                        <h3>Elimina un post segun su id</h3>
                        <div class="api-def__body">
                            <div class="api-url">
                                <span class="api-url__method">delete</span>
                                <span class="api-url__const"><%= host %></span>
                                <span class="api-url__endpoint">/api/post/:id</span>
                            </div>
                            <p>Requiere autenticación</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="collapse close" data-key="post">
                    <div class="api-def">
                        <h3>Actualiza un post segun su id</h3>
                        <div class="api-def__body">
                            <div class="api-url">
                                <span class="api-url__method">patch</span>
                                <span class="api-url__const"><%= host %></span>
                                <span class="api-url__endpoint">/api/post/:id</span>
                            </div>
                            <p>Requiere autenticación</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/collapse.js"></script>
<script src="/js/http.js"></script>
<script>
    httpClientApp.registerGetAction(
        document.getElementById('get-all-user'),
        document.getElementById('get-all-user-out'),
        '<%= host %>/api/user');
</script>

</html>